.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white;
}

.ant-collapse-content-box {
  padding: 0 40px;
}

.ant-typography {
  display: block;
  margin-bottom: 5px;
  margin-left: 16px;
}

.add-room {
  color: white;
}
