.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: white;
}

.ant-collapse-content-box {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.ant-typography,
.room-item {
  display: block;
  margin-bottom: 5px;
  margin-left: 16px;
}

.add-room {
  color: white;
}
